.VideoCard {
  width: 270px;
  margin-bottom: 40px;
  cursor: pointer;
}

.VideoCard-thumbnail {
  height: 140px;
  width: 250px;
  object-fit: contain;
}

.VideoCard-info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.VideoCard-text {
  margin-left: 10px;
}

.VideoCard-text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.VideoCard-text > p {
  font-size: 14px;
  color: gray;
}

.VideoCard-avatar {
  height: 30px !important;
  width: 30px !important;
}
